.blogs{
background-color: aqua;
border: 10px solid greenyellow;
border-radius: 15px;
padding: 50px 30px 0px 50px;
width: 50%;
height: 300px;
margin: 50px auto;
}

.author-name{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: crimson;
}
#text-center{
    text-align: center;
}
footer{
    text-align: center;
}